@font-face{
    font-family: font;
    src: url(font/indieflower.ttf);
}

h1 {
    font-family: font, sans-serif;
}


/* BODY */
body{
}


/* HEADER */
header{
}


/* SECTION */
section{
}
section h1{
    color: white;
    padding-bottom: 450px;
    margin-left: 300px;
    text-shadow:3px 3px 3px #000000;
    font-family: font, sans-serif;
}
section p{
    color: white;
    margin-top: 25px;
    margin-left: 150px;
}
#button{
    margin-top: 150px;
    margin-left: 300px;
}
section img{
    width: 100%;
}
#main{
    height: 500px;  
}
section h2{
    color: #000000;
    margin-top: 50px;
    text-shadow: 3px 3px 10px #444;
}
/* FOOTER */
footer{

}
